* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #d8e1e9, #b1c5d9, #8ea9c9);
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.8rem;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  z-index: 1;
  -webkit-text-stroke: 2px rgb(37, 37, 37);
  letter-spacing: 0.08em;
}

#score {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.memory-game {
  width: 700px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  position: relative;
  top: 80px;
  z-index: 0;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  backface-visibility: hidden;
}

.back-face {
  background-color: #3e4b73;
  border-radius: 10px;
}

/* .front-face {
  transform: rotateY(180deg);
  background-color: #d5def5;
  border-radius: 10px;
} */

.front-face {
  transform: rotateY(180deg);
  background-color: #e8edf3;
  border-radius: 10px;
}

.card.shake {
  background-color: grey;
  animation: shake 0.5s;
}

/* shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
